<br>
{{Training}}
<button (click)="logger()">Show Table</button>
<div *ngFor="let customer of customers; let i=index;let isEven=even;">
  <!-- interpolation -->
  <!-- <div>{{customer}}</div> -->
  <div>{{i}}</div>
  <div>{{isEven}}</div>
  <div>{{customer.name}}</div>
  <div>{{customer.age}}</div>
  <div *ngFor="let child of customer.child">
    Child Name: {{child.childname}}
  </div>
  <br>
</div>
<br>
<!-- usuage of pipes
A pipe takes in data as input and transforms it to a desired
output   -->
<h2>Lower and upper case PIPE example</h2>
<p><i>In lowercase : {{string | lowercase}}</i></p>
<p><i>In Uppercase : {{string1 | uppercase}}</i></p>
<h4>Today is {{today | date:"dd/MM/yyyy"}}</h4>

<h2>Async Pipe Example</h2>
<p>wait... {{promise | async}}</p>
<button (click)="clickMe()">Click me to initiate promise</button>

<h2>Currency Pipe Example</h2>
<p>A in USD: {{a | currency:'USD':true}}</p>
<p>B in INR: {{b | currency:'INR':false:'4.2-2'}}</p>

<h2>Custom Pipe with discount</h2>
{{price | discount}}

<h2>Custom pipe with parameters</h2>
<input type="number" [(ngModel)] ="MSME"/>
{{price | discount:MSME}}
<br>
<button routerLink="/dependancy/angularforms">Click to see example for angular forms</button>

<!-- passing data Parent to Child component using property binding  -->
<br>
<!-- ----------------------Parent
<br>
<input type="text" [(ngModel)]="Counter"> -->
<!-- <br>
-------------------------Passing Counter data parent to child in angular forms component
<app-angularforms [count]="Counter"></app-angularforms> -->

<!-- passing data child to parent component using @Output decorator and Eventemitter. -->
 <!-- <app-angularforms [count]="Counter" (childDataEvent)='childDataEvent($event)'></app-angularforms> -->

